* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global definitions */
:root {
  --header-footer-background-color: #A17544;
  --darkolivegreen: #74431D;
  --white: white;
  --about-me-border: #2C1b14;
  --rgba-border-color-opacity: rgba(103, 103, 103, 0.672);
}

/* Smoth Scrolling effect */
html {
  scroll-behavior: smooth;
}

/* Header */
header {
  justify-content: space-between;
  padding-left: 50px;
  margin-bottom: 25px;
  background-color: var(--header-footer-background-color); 
}

header h1 {
color: #2C1b14;
}

header nav ul {
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-right: 0px;
}

header nav ul li {
  font-size: 15px;
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

header a {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid var(--darkolivegreen);
  color: var(--darkolivegreen);
}
/* End of header */

/* Body */
body{
  background-color: whitesmoke; 
  font-family: Arial, Helvetica, sans-serif;
}
/* End body */

/* Footer */
footer {
  background-color: var(--header-footer-background-color); 
  color: var(--darkolivegreen); 
}

footer a {
  text-decoration: none;
  border-bottom: 2px solid var(--darkolivegreen); 
  font-size: 15px; 
  font-weight: bold;
}
/* End footer */

 /* Start of mountain section for background */
 .mountains { 
  height: 400px;
  opacity: 70%;
  background-image: url("../images/colorado2.jpg");
  border-bottom-left-radius: 30px 30px; 
  border-bottom-right-radius: 30px 30px;
  background-size: cover; 
  background-attachment: fixed; 
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row; 
  align-items: flex-end;
  margin-top: -25px;
}

/* Styling of headshot */
.center {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

/* About me section styling */
.about-me-wrap { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.about-me-grid-container {
  width: 80%; 
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(4, 1fr); 
  gap: 10px 10px; 
}

.about-me.about-me-title { 
  padding-top: 0px;
  font-size: 35px;
  grid-row: 1 / span 4;
  padding-right: 10px;
  text-align: right;
  border-right: 2px solid var(--about-me-border);
}

.about-me-paragraph {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
  text-align: center;
  justify-content: center;
}

/* End of about me section of styling */

/* Start of projects container/grid */
.work-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}

.work-grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px 10px; 
}

.work-item.work-title {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 40;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--about-me-border);
}

.project-challenge-refactor { 
  opacity: 45%;
  grid-column: 2 / span 2;
  grid-row: 1 / span 8;
  background-image: url("../images/Horiseon.jpg");
  background-size: cover;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
}

.work-item-project.coming-soon {
  grid-column: 3 /span 1;
  grid-row: 9 / span 4;
  background-image: url("../images/coming-soon.jpg");
  background-size: cover;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 25px;
  text-align: left;
}

.work-item-project.coming-soon2 {
  grid-column: 2 / span 1;
  grid-row: 9 / span 9; 
  background-image: url("../images/coming-soon.jpg");
  background-size: cover;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 25px;
  text-align: left;
}

.work-item-project.coming-soon3 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 4;
  background-image: url("../images/coming-soon.jpg");
  background-size: cover;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 25px;
  text-align: left;
}

.work-item-project.coming-soon4 {
  grid-column: 4 / span 1;
  grid-row: 5 / span 4;
  background-image: url("../images/coming-soon.jpg");
  background-size: cover;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 25px;
  text-align: left;
}

.work-item-project.coming-soon5 {
  grid-column: 4 /span 1;
  grid-row: 9 / span 9;
  background-image: url("../images/coming-soon.jpg");
  background-size: cover;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 25px;
  text-align: left;
}
/* End of projects container/grid */

/* Start of span */
.background { 
  background-color: var(--lightskyblue);
  position: relative;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5%;
  opacity: .8;
}

.background.title { 
  margin-top: 10px;
  margin-bottom: 20px;
}

.background.opacity{
  opacity: .95; 
  font-size: 30px;
}

.background.lower-text {
  font-size: x-small;
}
/* End of span background */

/* Start of footer */
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-container { 
  width: 80%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr); 
  grid-template-rows: repeat(2,1fr); 
}

.footer {
  text-align: center;
}

.footer.contact-me {
  padding-top: 10px;
  font-size: 15px;
  grid-row: 1 / span 3;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--darkolivegreen);
}

.footer nav ul a {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--darkolivegreen);
}
/* End of footer */

/* Start hover effects */
.effects a:hover{ 
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 100px 0 0 0 #2C1b14;
    color: white;
  }

/* Footer hover effects */
.footer-container a:hover{
  color: var(--darkolivegreen);
  font-weight: bold;
  box-shadow: inset 100px 0 0 0 #2C1b14;
  color: white;
}
/* End of hover effects on all classes */

/* Screen that will be 980px */
@media screen and (max-width: 980px) {
  
  /* Start of footer grid smaller screen code changes at res */
  header {
    justify-content: center;
  }

  header h1 {
    /* At smaller screens remove space at left of h1 on header */
    padding-left: 0px;
  }

  .mountain-subtitle {
    padding-right: 30px;
  }

  .mountain {
  background-attachment: scroll;
  }

  .about-me-wrapper {
    margin-top: 20px;
  }

  .about-me-grid-container {
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px 5px; 
  }

  .about-me.about-me-title {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--about-me-border);
  }

  .about-me-paragraph {
    padding-top: 5px;
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
  }

  .footer-wrapper {
    margin-top: 20px;
  }

  .footer-container { 
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2.5px 2.5px; 
  }

  .footer.contact-me {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--darkolivegreen);
    padding-left: 25px;
  }

  .footer.effects a {
    align-self: center;
  }
/* End 980px */
}

  /* Screen that will be smaller than 780px */
  @media screen and (max-width: 768px) {
  
    header a {
      font-size: 3vw;
    }
  
    footer a {
      font-size: 3vw;
    }
  
    .effects a:hover{
        font-size: 3vw; 
    }
  
    .footer-container a:hover{
      font-size: 1.8vw;
    }
  
    .mountain {
      background-attachment: scroll;
    }
      
    .about-me-grid-container {
      grid-template-columns: repeat(3, 2fr);
      grid-template-rows: .5fr repeat(4, 1fr);
      gap: 5px 5px; 
    }
  
    .about-me {
      padding-top: 0px;
      font-size: 25px;
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
      text-align: center;
      padding-right: 0px;
      padding-bottom: 0px;
      border-right: none;
      border-bottom: 2px solid var(--about-me-border);
      align-self: start;
    }
  
    .about-me.paragraph { =
      padding-left: 0px;
    }
  
    .work-wrapper {
      margin-top: 15px;
    }
  
    .work-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: .5fr repeat(10, 1fr);
      gap: 2.5px 2.5px;
    }
  
    .work-item.work-title {
      font-size: 35px;
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
      text-align: center;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      border-bottom: 2px solid var(--about-me-border);
      border-right: none;
      align-self: start;
    }
  
    .project-challenge-refactor {
      grid-column: 1 / span 3;
      grid-row: 2 / span 2;
      align-items: flex-end;
      text-align: center;
      background-position: scroll; 
    }
  
    .work-item-project.coming-soon {
      grid-column: 1 /span 3;
      grid-row: 5 / span 2;
      margin-top: -70px;
      margin-bottom: 20px;
      /* align-items: flex-end; */
      /* text-align: center; */
      background-position: scroll; 
    }

    .work-item-project.coming-soon2 {
     grid-column: 1 /span 3;
      grid-row: 7 / span 1;
      /* align-items: flex-end; */
      /* text-align: center; */
      background-position: scroll; 
    }

    .work-item-project.coming-soon3 {
      grid-column: 1 /span 3;
      grid-row: 8 / span 1;
      background-position: scroll;
      text-align: center; 
     }

     .work-item-project.coming-soon4 {
      grid-column: 1 /span 3;
      grid-row: 9 / span 1;
      background-position: scroll;
      text-align: center;
     }

     .work-item-project.coming-soon5 {
      grid-column: 1 /span 3;
      grid-row: 10 / span 1;
      align-items: flex-end;
      text-align: center;
      background-position: scroll;
     }
  /* End 780px */

  }